<!--header start-->
<div class="heading">
  <div class="appname"> SHOW BOOKING</div>
  <div class="navbar">
    <div class="navbutton">HOME<i class="fas fa-home"></i></div>
    <div class="navbutton">FOOD<i class="fas fa-utensils"></i></div>
    <div class="navbutton">LOGIN</div>
  </div>
</div>
<!--header end-->
<div class="sidebar">
  <div class="category categ">CATEGORIES</div>
  <ul class="category a">
    <li><a href="#ENGLISH">ENGLISH</a></li>
    <li><a href="#HINDI">HINDI</a></li>
    <li><a href="#BENGALA">BENGALA</a></li>
    <li><a href="#BHOJPURE">BHOJPURE</a></li>
    <li><a href="#KANNADA">KANNADA</a></li>
    <li><a href="#TAMIL">TAMIL</a></li>
    <li><a href="#MALAYALI">MALAYALI</a></li>
    <li><a href="#PUNJABI">PUNJABI</a></li>
  </ul>
  <div class="category">CONTACT ON</div>
  <div class="media">
  <div><i class="fab fa-facebook-f"></i></div>
  <div><i class="fab fa-google"></i></div>
  <div><i class="fab fa-twitter"></i></div>
  <div><i class="fab fa-whatsapp"></i></div>
</div>
</div>
<div class="picturelist">
  <div class="picture">
    <div class="catgname" id="ENGLISH">ENGLISH</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/images.jpeg" />
        <div>HARRY PORTER 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="HINDI">HINDI</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image2.jpeg" />
        <div>BADHAAI HO 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="BENGALA">BENGALA</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image3.jpg" />
        <div> NOTTYK 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="BHOJPURE">BHOJPURE </div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image4.jpg" />
        <div> FIRST LOOK 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="KANNADA">KANNADA</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image5.jpeg" />
        <div> TAGARU 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="TAMIL">TAMIL</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image8.jpeg" />
        <div> DIFFENENT LOVE STORY 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="MALAYALI">MALAYALI</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image9.jpg" />
        <div> BAHUBALLI 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
    <div class="catgname" id="PUNJABI">PUNJABI</div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 1</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 2</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 3</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 4</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 5</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 6</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 7</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 8</div>
        <button class="button"><b>BOOK</b></button>
      </div>
      <div class="grid-item">
        <img src="../../../assets/image/image10.jpg" />
        <div> AMBARSARIYA 9</div>
        <button class="button"><b>BOOK</b></button>
      </div>
    </div>
  </div>
</div>
