a {
  color: inherit;
  text-decoration: none;
}

/*header start*/
.heading {
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 51, 102, 1);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.appname {
  cursor: pointer;
  align-self: center;
  font-size: 45px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px
}

.navbar {
  height: 100%;
  width: 26%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navbutton {
  cursor: pointer;
  margin: 20px;
}

.navbutton:hover {
  color: cornsilk;
}

/*header end*/
/*side bar start*/
.sidebar {
  width: 20%;
  position: fixed;
  height: 88vh;
  background-color: rgba(0, 51, 102, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* padding: 30px; */
  font-size: 25px;
}

.categ {
  color: rgba(0, 51, 102, 1);
}

.category {
  margin: 10px;
  cursor: pointer;
}

ul.a {
  list-style-type: square;
  font-size: 20px;
}

li {
  margin-bottom: 30px;
}

li:hover {
  color: rgba(0, 51, 102, 1);
}

li:active {
  color: rgba(0, 51, 102, 1);
}

/*side bar end*/
/*picture start*/
.picturelist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12vh;
}

.picture {
  width: 80%;
  height: 100%;
}

.catgname {
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 7px;
  background: rgba(0, 51, 102, .2);
  color: rgba(0, 51, 102, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10PX;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button {
  width: 50%;
  display: inline-block;
  padding: 5px 3px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgba(0, 51, 102, 1);
  background-color: rgba(0, 51, 102, .4);
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  align-self: center;
}

.button:hover {
  background-color: rgba(0, 51, 102, 1);
  color: white;
}

.button:active {
  background-color: rgba(0, 51, 102, 1);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img {
  width: 80%;
  height: 30vh;
  align-self: center;
}

/*picture end*/
.media {
  display: flex;
  justify-content: space-around;
  color: darkblue;
}

.fa-facebook-f,
.fa-google,
.fa-twitter,
.fa-whatsapp {
  margin-left: 15px;
  cursor: pointer;
}
